# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output/
coverage/
.DS_Store
.env
.eslintcache
/dist
/build
/out
/tmp
/logs
*.log
*.tgz
*.zip
*.rar
*.7z
*.gz
*.patch
*.diff
*.swp
*.bak
*.swo
*.orig
*.rej
*.log
*.pid
*.seed
*.db
*.sqlite
.vscode/
.idea/
.project
.settings/
.classpath
.c9/
.history
.sublime-workspace
.metadata
npm-shrinkwrap.json
pnpm-lock.yaml
package-lock.json